---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import Layout from "../../layout/Layout.astro";

const events = await getCollection("events");
---

<Layout>
  <main class="w-4/6 mx-auto my-8">
    <h1 class="text-2xl mb-4">Events</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {
        events.map((event) => (
          <a href={`/events/${event.id}`} class="card bg-base-200 shadow-xl">
            <figure>
              {event.data.heroImage && (
                <Image
                  width={720}
                  height={360}
                  src={event.data.heroImage}
                  alt=""
                />
              )}
            </figure>
            <div class="card-body">
              <h2 class="card-title">{event.data.title}</h2>
              <p>{event.data.description}</p>
            </div>

            {/* <a href={`/events/${event.id}`}>{event.data.title}</a> */}
          </a>
        ))
      }
    </div>
  </main>
</Layout>

